<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>コンビニhub(仮)｜コンビニ飯の作成</title>
  <link rel="stylesheet" href="make.css">
</head>

<body>

  <!--jsを用いたやつ-->
  <header>
    <div class="header-top">
      <a href="/">
        <h1>コンビニhub</h1>
      </a>
    </div>
  </header>
  <header class="header2">
    <a href="/"><input type="button" value="ホームに戻る"></a>    <!--11月14日buttonタグからinputタグへの変更-->
    <a href="#"><input type="button" value="一時保存"></a>
  </header>

  <main>
    <form action="/make" method="POST">
    <section>
      <!-- <div class="form-group">
        <label for="picture">画像を挿入:</label>
        <input type="file" name="picture" id="picture" accept="image/*">
      </div> -->

      <div class="form-group">
        <label for="title">タイトル</label>
        <input type="text" name="title" id="title" placeholder="タイトル">
      </div>

      <!-- <div class="form-group">
        <label for="total-price">合計金額</label>
        <input type="number" name="price" id="total-price" placeholder="合計金額">
      </div> -->

      <div class="form-group">
        <label for="repo">アピールポイント</label>
        <textarea name="repo" id="repo" placeholder="どんな味か，アピールポイント"></textarea>
      </div>
    </section>

    <section class="content_procedure">
      <div class="form-group">
        <label for="make-a">作り方</label>
        <textarea name="recipe" id="make-a" placeholder="作り方"></textarea>
      </div>
    </section>

    <button type="submit" class="submit">送信</button>
    </form>
  </main>
</body>

</html>