/* グローバルリセット */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Avenir Next", "TsukuARdGothic-Regular", sans-serif;
    background-color:black; /* 全体の背景色を設定 */
}

/* リンクのデフォルトスタイル */
a {
    text-decoration: none;
}

/* ヘッダーのスタイル */
header {
    text-align: center;
    padding: 20px 0;
    background-color:black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header input {
    margin-top: 20px;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color:black;
    color: white;
}
header input:hover {
    background-color: grey;
}
header h1{
    color:white;
}
.header2 input {
   padding: 10px 20px;
    margin-left: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.header2 input:hover {
    background-color: black;
}

/* フォーム要素のスタイル */
textarea, input[type="text"], input[type="number"] {
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 8px;
    margin: 10px 0;
    font-size: 16px;
    opacity: 0.8;
}
textarea {
    resize: none;
}

/* 画像挿入エリア */
#picture {
    display: block;
    margin: 20px auto;
    width: 400px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f0f0f0;
    text-align: center;
}

/* タイトルと合計金額 */
#title, #total-price {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
}

/* アピールポイントと作り方 */
#repo, #make-a {
    display: block;        
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
    height: 150px;
    padding: 10px;
}
.submit{
    background-color: rgba(24, 34, 26, 0.602);
    color: #ffffff;
    border-radius: 8px;
    width: 100px;
    margin:0 auto;
    display: block;
}
.submit:hover{
    background-color:rgba(36, 46, 38, 0.9)
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
    #picture {
        width: 300px;
        height: 300px;
    }
    #repo, #make-a {
        width: 90%;
        height: 200px;
    }
    header input, header button {
        padding: 8px;
        margin: 5px;
    }
}
