html, body,
ul, ol, li,
h1, h1, h3, h4, h5, h6, p,
form, input, div{
    margin:0;
    padding:0;
}
body {
    font-family:"Avenir Next", "TsukuARdGothic-Regular", sans-serif;
}

li{
    list-style:none;
}
a{
    text-decoration:none;
}

header{
  padding-top:30px;
  text-align: center;
  display:absolute;
  margin-top:20px;
  background-color: black;
  margin-top:-10px;
  margin-bottom:-20px;
}
header h1{
  color: white;
  display: inline-block;
  text-align: center;
  padding-left:100px;
}
.header-link{
  float:right;
  text-align: center;
  margin-top:10px;
  margin-right:10px;
  padding:5px;
  border-radius:5px;
  cursor: pointer;
  border-color:gainsboro;
  background-color: black;
  color: gainsboro;

}
.header-link:hover{
  background-color: rgba(0,0,0,0.5);
  color:white;
}

/*ここから検索欄のcss*/
.search-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  #search {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    margin-left: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border-color: gainsboro;
  }
/*ここまで*/

.store-category{
  text-align:center;
 
}
.store-category li{
  margin: 20px;
  color:rgba(0,0,0,0.4);
}
.store-category li:hover{
  color:rgba(0,0,0,0.8);
}
main{
  background-color: black;
  color:white;
}
